$primary-color: #189AB4;
$secondary-color: #75E6DA;
$light-blue: #D4F1F4;
$dark-blue: #05445E;
$white: #fff;
$black: #000;
$danger:#ff4661;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    user-select: none !important;
}